.singupParentDiv{
    height: auto;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    text-align: center;
    border: 2px solid;
}

.input{
    height: 25px;
    width: 50%;
    margin-bottom: 3%;
    font-family: 'Courier New', Courier, monospace;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

.submit{
    width: 30%;
    height: 48px;
    margin-bottom:3% ;
    padding: 7px;
    background-color: #002f34;
    font-weight: 900;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}

.submit:hover{
    color: black;
    background-color: white;
}

.login{
    margin-bottom: 3%;
    cursor: pointer;
}